
in-class-exercises/.DS_Store
in-class-exercises/.DS_Store
.DS_Store
in-class-exercises/.DS_Store
.DS_Store
in-class-exercises/.DS_Store
.DS_Store
.DS_Store
in-class-exercises/right-to-vote.log
lecture-slides/~$The Right to Vote.pptx
lecture-slides/The Right to Vote.pptx
lecture-slides/the-right-to-vote.log
*.log
lecture-slides/the-right-to-vote-lecure-slides/The-Right-to-Vote-Part-II.Rmd
lecture-slides/the-right-to-vote-lecure-slides/The-Right-to-Vote-Part-II.Rmd
syllabus.knit.md
